@model SomeBackendData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Page generated: @ViewData["clock"]</p>
    <p>Time taken: @(ViewData["timer"])ms</p>
    <h2>Underlying data</h2>
    <p>generated: @Model.CreationTime</p>
    <p>unique id: @Model.Id</p>
    <p>provider: @Model.Provider</p>
</div>
